#p01 {
  font-size : 300%; text-align: center; color : blue;
}
#p01 {
  font-size : 300%; text-align: center; color : yellow;
}
#p01 {
  color: blue;
}
#p01 {
  color: blue;
}
#p01 {
  color: blue;
}
#p01 {
  color: blue;
}